// Colors
$color-primary: #7966fe;
$color-secundary: #00c0ff;
$color-purple: #6c5ed1bf;
$color-purple-light: #dad6f7;
$color-purple-dark: #6456cd;
$color-white: #ffffff;
$color-grey: #e6ebf1;
$color-grey-light: #9baacf;
$color-grey-medium: #818181;
$color-grey-dark: #40484d;
$color-black-light: #333c42;
$color-black-medium: #2b343a;
$color-black: #000000;

//Fonts
$font-main: "Quicksand", sans-serif;
$font-alt: "Montserrat", sans-serif;

// Font sizes
$fs-xl: 3rem;
$fs-lg: 2rem;
$fs-md: 1.2rem;
$fs-sm: 1rem;

// Transition
$menu-transition-time: 0.35s;
